/* header with navigation */

header {
  display: flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: thin solid black;
  padding-bottom: 5px;
  height: 80px;
  width: 100%;
}

.logo {
  color: MediumAquamarine;
  flex-grow: 1;
  margin-left: 10px;
  border: solid black thin; /* remove */
}

a {
  color: black;
}

img {
  margin-left: 20px;
  border: solid black thin; /* remove */
}

nav {
  margin-right: 40px;
}

li {
  display: inline-block;
  margin: 10px;
}

/* main content */

main {
  display: flex;
  border: thin solid black; /* remove */
}

div {
  border: thin solid black; /* remove */
}


.column {
  display: flex;
  flex-direction: column;
  border: thin solid black; /* remove */
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
