/* header with navigation */

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  position: fixed;
  z-index: 2;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  border-bottom: thin solid black;
  height: 80px;
  width: 100%;
}

.logo {
  color: MediumAquamarine;
  flex-grow: 1;
}

a {
  color: black;
}

header>img {
  margin-left: 20px;
}

nav {
  margin-right: 40px;
  display: inline-block;
  padding: 10px;
}

span {
  margin: 10px;
}


/* main content */

main {
  display: flex;
  position: ;
  align-content: space-between;
  font-family: Georgia;
  font-size: 17px;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 120px 20px;
}

.column.large {
  width: 630px;
  display: flex;
  flex-direction: row; /* horizontally aligned */
  justify-content: space-between;
  flex-wrap: wrap;
}

.text-content {
  width: 300px;
  display: flex; /* added this so p and h2 become flex items */
  flex-wrap: wrap;
}


.column.medium {
  width: 300px;
  margin-left: 30px;
}

.column.small {
  width: 240px;
  margin-left: 30px;
}

.bites {
  direction: flex;
  margin: 0;

}

.heading {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}


/* pics */

.headline {
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.main-img {
  display: flex;
  background-image: url(../images/img-story-main.png);
  padding-bottom: 150px;
}

.main-img .headline {
  font-size: 40px;
  text-align: left;
}

.story1-img {
  display: flex;
  background-image: url(../images/img-story-2-fall.png);
  padding-bottom: 175px;


}

.story2-img {
  display: flex;
  background-image: url(../images/img-story-3-hipster.png);
  padding-bottom: 195px;
}

.cat {
  display: flex;
  background-image: url(../images/img-cat.png);
  padding-bottom: 227px;
}
